html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background: #e3c99c;
  color: #a0796e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
a {
  cursor: pointer;
  color: #e28b7d;
}
a:hover {
  color: #cb7d71;
  text-decoration: none;
}
#remote {
  text-align: center;
  padding-top: 15px;
}
.loading {
  height: 10vw;
  font-size: 6vw;
  line-height: 10vw;
  padding-left: 2vw;
  padding-right: 2vw;
  color: rgba(0, 0, 0, 0.1);
}
@media (max-aspect-ratio: 1/1) {
  .loading {
    height: 10vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  .loading {
    font-size: 6vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  .loading {
    line-height: 10vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  .loading {
    padding-left: 2vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  .loading {
    padding-right: 2vh;
  }
}
#search-box {
  width: 100%;
}
#search-box input {
  height: 144px;
  font-size: 85px;
  padding-left: 2vw;
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  color: #755851;
}
@media (max-aspect-ratio: 1/1) {
  #search-box input {
    padding-left: 2vh;
  }
}
#remote-stop,
#remote-play {
  width: 113.05px;
  height: 113.05px;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 100%;
  outline: 0;
  border: none;
  color: #e3b28b;
  background: #a0796e;
  z-index: 2;
}
#remote-stop:hover,
#remote-play:hover {
  background: #987369;
}
#remote-stop span,
#remote-play span {
  font-size: 37.68333333px;
}
#remote-prev {
  width: 85px;
  height: 85px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  outline: 0;
  border: none;
  color: #e3b28b;
  background: #a0796e;
  z-index: 1;
  position: relative;
  right: -22px;
}
#remote-prev:hover {
  background: #987369;
}
#remote-prev span {
  font-size: 28.33333333px;
}
#remote-prev span {
  position: relative;
  left: -10px;
}
#remote-next {
  width: 85px;
  height: 85px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  outline: 0;
  border: none;
  color: #e3b28b;
  background: #a0796e;
  z-index: 1;
  position: relative;
  left: -22px;
}
#remote-next:hover {
  background: #987369;
}
#remote-next span {
  font-size: 28.33333333px;
}
#remote-next span {
  position: relative;
  right: -10px;
}
#current-text {
  padding-left: 2vw;
  padding-right: 2vw;
}
@media (max-aspect-ratio: 1/1) {
  #current-text {
    padding-left: 2vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  #current-text {
    padding-right: 2vh;
  }
}
#current-text h2,
#current-text span {
  color: #d2b591;
  font-weight: bold;
}
#current-text h2 {
  font-size: 4vw;
}
@media (max-aspect-ratio: 1/1) {
  #current-text h2 {
    font-size: 4vh;
  }
}
#current-text span {
  font-size: 2.2vw;
}
@media (max-aspect-ratio: 1/1) {
  #current-text span {
    font-size: 2.2vh;
  }
}
#current-text .active,
#current-text .active span {
  color: #a0796e;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.1);
}
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.1);
}
::placeholder {
  color: rgba(0, 0, 0, 0.1);
}
tr {
  cursor: pointer;
}
tr.active {
  cursor: default;
}
.app {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: strech;
  -ms-flex-line-pack: strech;
  align-content: strech;
}
.app .col {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.app .col .col-9,
.app .col .col-3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: strech;
  -ms-flex-line-pack: strech;
  align-content: strech;
}
.app .col .col-9 header,
.app .col .col-3 header {
  height: 144px;
  background-color: rgba(0, 0, 0, 0.05);
}
.app .col .col-9 section,
.app .col .col-3 section {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}
.app .col .col-9 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.app .col .col-3 {
  width: 366px;
  background: #e3b28b;
}
.app footer {
  width: 100%;
  height: 30px;
  overflow: hidden;
}
#play-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: strech;
  -ms-flex-line-pack: strech;
  align-content: strech;
  overflow: hidden;
}
#play-list .table-wrapper {
  overflow-y: auto;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
table {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}
table tr {
  height: 45px;
}
table tr td {
  padding: 6px 10px;
  color: #A0796E;
}
table tr:nth-child(2n) {
  background: #d8a984;
}
table tr:nth-child(2n):hover {
  background: #d2a581;
}
table tr:nth-child(2n+1) {
  background: #cca07d;
}
table tr:nth-child(2n+1):hover {
  background: #c79c7a;
}
table tr.active {
  background: #E28B7D;
}
table tr.active:hover {
  background: #E28B7D;
}
table tr.active td {
  color: #E3C99C;
}
footer {
  padding: 5px;
  color: #a0796e;
  background: #755851;
}
footer input,
footer select {
  background: none;
  border: none;
  color: #e3b28b;
  outline: 0;
  padding: 0 5px;
  width: 125px;
  margin-right: 10px;
}
.my-ad {
  padding: 15px;
}
.my-ad .ad {
  text-align: center;
  position: relative;
}
.my-ad .ad .ad-fallback {
  z-index: 0;
  background: rgba(0, 0, 0, 0.05);
  padding: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /*
      span {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-weight: normal;
        color: #fff;
        text-shadow: 0 0 5px #000;
        font-size: 36px;
        position: relative;
        z-index: 2;
        opacity: 0.33;
      }
      */
}
