@import 'helpers';

@bg: #E3C99C;
@right-color: #E3B28B;

@red: #E28B7D;

@btn-size: 85px;
@btn-color: #A0796E;

@text-color: #755851;

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background: @bg;
  color: @btn-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  cursor: pointer;
  color: @red;
  &:hover {
    color: shade(@red, 10%);
    text-decoration: none;
  }
}

#remote {
  text-align: center;
  padding-top: 15px;
}

.loading {
  .height(10vw, 10vh);
  .font-size(6vw, 6vh);
  .line-height(10vw, 10vh);
  .padding-left(2vw, 2vh);
  .padding-right(2vw, 2vh);
  color: rgba(0, 0, 0, 0.1);
}

#search-box {
  width: 100%;
  
  input {
    height: 144px;
    font-size: 85px;
    .padding-left(2vw, 2vh);
    width: 100%;
    border: none;
    background: none;
    outline: 0;
    color: @text-color;
  }
}

.remote-btn(@size: @btn-size, @color: @btn-color) {
  width: @size;
  height: @size;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 100%;
  outline: 0;
  border: none;
  color: @right-color;
  
  background: @color;
  &:hover {
    background: shade(@color, 5%);
  }

  span {
    font-size: @size / 3;
  }
}

#remote-stop, #remote-play {
  .remote-btn(@btn-size * 1.33);
  z-index: 2;
}


#remote-prev {
  .remote-btn();
  z-index: 1;
  position: relative;
  right: -22px;
  span {
    position: relative;
    left: -10px;
  }
}

#remote-next {
  .remote-btn();
  z-index: 1;
  position: relative;
  left: -22px;
  span {
    position: relative;
    right: -10px;
  }
}

#current-text {
  .padding-left(2vw, 2vh);
  .padding-right(2vw, 2vh);

  h2, span {
    color: mix(@btn-color, @bg, 25%);
    font-weight: bold;
  }

  h2 {
    .font-size(4vw, 4vh);
  }

  span {
    .font-size(2.2vw, 2.2vh);
  }

  .active {
    &, & span {
      color: @btn-color;
    }
  }
}

::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: strech;
  
  .col {
    flex: 1;
    display: flex;
    flex-direction: row;
    
    .col-9, .col-3 {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: strech;
      
      header {
        height: 144px;
        background-color: rgba(0, 0, 0, 0.05);
      }
       
      section {
        flex: 1;
        overflow: auto;
      }
    }

    .col-9 {
      flex: 1;
    }

    .col-3 {
      width: 366px;
      background: @right-color;
    }
  }
  
  footer {
    width: 100%;
    height: 30px;
    overflow: hidden;
  }
}

#play-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: strech;
  overflow: hidden;
  
  .table-wrapper {
    overflow-y: auto;
    flex: 1;
  }
}

table {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  
  tr {
    height: 45px;
    
    td:first-child {
      cursor: pointer;
    }
    
    td {
      padding: 6px 10px;
      color: #A0796E;
    }
    
    td.wowhead {
      width: 40px;
      background: rgba(0, 0, 0, 0.05);
      
      a {
        display: inline-block;
        width: 28px;
        height: 28px;
        background-size: 28px 28px;
        background-image: url('../img/Icon-wowhead-48x48.png');
      }
    }

    &:nth-child(2n) {
      background: shade(@right-color, 5%); //rgba(0, 0, 0, 0.05);
      &:hover {
        background: shade(@right-color, 7.5%); //rgba(0, 0, 0, 0.05);
      }
    }

    &:nth-child(2n+1) {
      background: shade(@right-color, 10%); //rgba(0, 0, 0, 0.05);
      &:hover {
        background: shade(@right-color, 12.5%); //rgba(0, 0, 0, 0.05);
      }
    }

    &.active {
      background: #E28B7D;
      &:hover {
        background: #E28B7D;
      }
      td {
        color: #E3C99C;
      }
    }
  }
}

footer {
  padding: 5px;
  color: @btn-color;
  background: @text-color;
  
  input, select {
    background: none;
    border: none;
    color: @right-color;
    outline: 0;
    padding: 0 5px;
    width: 125px;
    margin-right: 10px;
  }
}

.my-ad {
  padding: 15px;
  
  .ad {
    text-align: center;
    position: relative;

    .ad-fallback {
      z-index: 0;
      background: rgba(0, 0, 0, 0.05);
      padding: 15px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      //background: url("../img/bieber.jpg");

      /*
      span {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-weight: normal;
        color: #fff;
        text-shadow: 0 0 5px #000;
        font-size: 36px;
        position: relative;
        z-index: 2;
        opacity: 0.33;
      }
      */
    }
  }
}
